.app-container {
  min-height: 100vh;

  display: flex;

  justify-content: center;
  align-items: center;

  padding: 20px;

  background: linear-gradient(
    135deg,
    #e0f2fe,
    #f8fafc
  );
}